/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-001.Name/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week1-002.HelloWorld/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-003.Spruce/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-005.SecondsOfTheYear/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-006.Addition/build/
/mooc-2013-OOProgrammingWithJava-PART1/week1-007.Multiplication/build/
/mooc-2013-OOProgrammingWithJava-PART1/week2-028.FromHundredToOne/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-026.SumOfManyNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-027.FromOneToHundred/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-025.SumOfThreeNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-030.UpToCertainNumber/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-029.EvenNumbers/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-031.LowerLimitAndUpperLimit/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-041.GuessingNumberGame/nbproject/private/
/mooc-2013-OOProgrammingWithJava-PART1/week2-042.Hangman/nbproject/private/